<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarPersonas</servlet-name>
        <servlet-class>com.fpmislata.servlets.ListarPersonas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPersona</servlet-name>
        <servlet-class>com.fpmislata.servlets.AltaPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPersona</servlet-name>
        <servlet-class>com.fpmislata.servlets.ModificarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPersona</servlet-name>
        <servlet-class>com.fpmislata.servlets.EliminarPersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarPersonas</servlet-name>
        <url-pattern>/ListarPersonas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPersona</servlet-name>
        <url-pattern>/AltaPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPersona</servlet-name>
        <url-pattern>/ModificarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPersona</servlet-name>
        <url-pattern>/EliminarPersona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
